<mat-toolbar color="primary">
  <span>Gerenciador de Estudantes</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/pagina-inicial" routerLinkActive="active-link">
      Página Inicial
    </a>
    <a mat-button routerLink="/estudantes" routerLinkActive="active-link">
      Estudantes
    </a>
    <a
      mat-button
      routerLink="/estudantes/adicionar"
      routerLinkActive="active-link"
    >
      Adicionar Estudante
    </a>
  </nav>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
